@font-face {
  font-family: "Poppins";
  src:url("../assets/fonts/Poppins-Regular.ttf");
  src:url("../assets/fonts/Poppins-SemiBold.otf");
}
@font-face {
  font-family: "Lobster";
  src:url("../assets/fonts/Lobster 1.4.otf");
}
:root {
  --color-primary: #E61782;
  --border-color-1: #FF353E;
  --border-color-2: #C02739;
  --border-color-3: #02665c;
}
body {
  /*background-image: url('../assets/images/background.jpg');
  background-size: cover;*/
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  /*background-color: white;
  height: 70px;
  position: relative;*/
}
header .logo {
  position: absolute;
  top: 0;
}
header .logo img {
  width: 300px;
  /*position: absolute;
  top: 0;
  left: 0;*/
}
header .title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-right: 100px;
  text-align: center;
}
header .title h1{
  color: var(--color-primary);
  font-family: 'Poppins';
  font-size: 35px;
}
main {
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  margin-top: -67px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.square {
  border: 12px solid transparent;
  width: 300px;
  height: 378px;
  box-sizing: border-box;
  position: relative;
}
.square:before {
  content: '';
  position: absolute;
  border-top: 12px solid var(--border-color-1);
  border-right: 12px solid var(--border-color-1);
  border-left: 12px solid var(--border-color-1);
  width: calc(100% + 24px);
  height: 72px;
  top: -12px;
  left: -12px;
}
.frame-1 {
  width: 100%;
  height: 100%;
  border: 5px solid transparent; 
}
.frame-1:before {
  content: '';
  position: absolute;
  border-top: 5px solid var(--border-color-2);
  border-right: 5px solid var(--border-color-2);
  border-left: 5px solid var(--border-color-2);
  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
}
.frame-2 {
  border: 8px solid var(--border-color-3);
  width: 100%;
  height: 100%;
}
.autorretrato {
  width: 100%;
  height: 100%;
}
.soon {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.soon h2 {
  font-family: 'Lobster';
  font-size: 38px;
  color: var(--color-primary);
  text-align: center;
}
.social {
  width: 100%;
}
.social p {
  color: var(--color-primary);
  margin-bottom: 5px;
  text-align: center;
}
.social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social ul a {
  display: inline-block;
}
.social img {
  width: 30px;
}

@media screen and (min-width: 1800px) {
  .square {
    width:400px;
    height: 504px;
  }
}

@media screen and (max-width: 1199px){
  /*header .logo img {
    width: 250px;
  }*/
  header .title h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
  header .title h1 {
    font-size: 19px;
  }
  /*.square {
    width: 220px;
    height: 284px;
  }*/
  main {
    flex-direction: column;
    padding-top: 150px;
  }
  .soon h2 {
    font-size: 28px;
  }
}

@media (maax-width: 767) and (max-height: 936px) {
  main {

  }
}

@media screen and (max-width: 575px) {
  header {
    flex-direction: column;
    height: auto;
  }
  header .logo {
    position: relative;
  }
  header .title {
    margin: 0;
  }
  header .title h1 {
    font-size: 23px;
  }
  main {
    margin-top: 0;
    flex-direction: column;
    padding-top: 120px;
  }
  .square {
    margin-bottom: 20px;
  }
}

@media (max-height: 760px) and (max-width: 1480px) {
    header .logo img {
      width: 250px;
    }
    header .title h1 {
      font-size: 30px;
    }
    main {
    padding-top: 120px;
  }
}
