@font-face {
  font-family: 'Lobster';
  src: '../assets/fonts/Lobster 1.4.otf';
}
body {
  /*background-image: url('../assets/images/background.jpg');
  background-size: cover;
  height: 100vh;*/
}
header {
  background-color: white;
  height: 70px;
  position: relative;
}
header .logo img {
  width: 250px;
  position: absolute;
  top: 0;
  left: 0
}
header .title h1{
  color: red;
  font-family: Lobster;
}
main {
  
}
